* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background-color: #fffaf5;
}
/* common */
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}
input,
textarea,
select,
button {
  font-size: inherit; /*kế thừa*/
  font-family: inherit;
}
.container {
  width: 1170px;
  max-width: calc(100%-48px);
  margin: 0 auto; /*căn giữa*/
}
.btn {
  --height: 56px;

  display: inline-block; /*dùng đặt kích thước thẻ a*/
  min-width: 130px;
  height: var(--height);
  line-height: var(--height);
  border: 1px solid rgba(0, 9, 88, 0.7);
  border-radius: 99px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #000958;
  text-align: center;
}
.btn:hover {
  opacity: 0.8;
}
.header {
  padding: 26px 0;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__list {
  display: flex;
}
.header-action__link,
.navbar__link {
  padding: 8px 18px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  color: #5e6085;
}
.navbar__link:hover {
  text-shadow: 0.7px 0 0 currentColor;
  color: #000958;
}
.header-action__btn {
  --height: 50px;
  min-width: 118px;
  height: var(--height);
}
/*hero */
.hero {
  margin-top: 74px;
}
.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__media {
  display: flex;
  position: relative;
  padding-bottom: 94px;
}
.hero__img-wrap {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center; /*trường hợp ảnh bé*/
  width: 388px;
  height: 488px;
  border-radius: 16px;
  border: 3px solid #fff;
  background-color: #fe997b;
}
.hero__img {
  max-width: 100%;
  max-height: 100%;
  border-radius: inherit;
}
.hero__decor {
  position: absolute;
  z-index: -1;
}
.hero__decor-left {
  left: -58px;
  bottom: 10px;
}
.hero__decor-right {
  top: 16px;
  right: -40px;
}
.hero__img-wrap-small {
  align-self: flex-end;
  width: 186px;
  height: 244px;
  background-color: #faa7ad;
  border: 2px solid #fddee1;
  margin-left: -24px;
  margin-bottom: -58px;
}
.hero__list {
  position: absolute;
  left: 129px;
  bottom: 0;
  width: 256px;
  height: 160px;
  box-shadow: -17px 14px 68px -4px #cfae8440;
  border-radius: 10px;
  background-color: #fff;
  padding: 18px 14px;
}
.hero-list-item {
  display: flex;
  align-items: center;
}
.hero-list-item__thumb {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  object-fit: cover;
  background-color: #fec23f;
}
.hero-list-item__info {
  margin-left: 10px;
}
.hero-list-item__title {
  font-family: Sora, sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
  color: #181e52;
}
.hero-list-item__skeleton {
  margin-top: 6px;
  width: var(--width, 118px);
  height: 4px;
  border-radius: 10px;
  opacity: 8%;
  background-color: #000958;
}
.hero-list-item__separate {
  width: 100%;
  height: 2px;
  margin: 20px 0;
  border-radius: 99px;
  background-color: #f2f2f2;
}
.hero-list-item:nth-of-type(2) .hero-list-item__thumb {
  background: #c6e2fa;
}
