* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background-color: #fffaf5;
}
:root {
  --primary-color: #fd5056;
}
/* common */
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}
input,
textarea,
select,
button {
  font-size: inherit; /*kế thừa*/
  font-family: inherit;
}
.container {
  width: 1170px;
  max-width: calc(100%-48px);
  margin: 0 auto; /*căn giữa*/
}
.btn {
  --height: 56px;

  display: inline-flex; /*dùng đặt kích thước thẻ a*/
  min-width: 130px;
  height: var(--height);
  line-height: var(--height);
  border: 1px solid rgba(0, 9, 88, 0.7);
  border-radius: 99px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #000958;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
.btn--primary {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn__icon {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 3px 10px -1px #bf290066;
}
.section__heading {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.19;
  color: #000958;
}
.section__desc {
  margin-top: 24px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.88;
  color: #656689;
}
/* header */
.header {
  padding: 26px 0;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__list {
  display: flex;
}
.header-action__link,
.navbar__link {
  padding: 8px 18px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  color: #5e6085;
}
.navbar__link:hover {
  text-shadow: 0.7px 0 0 currentColor;
  color: #000958;
}
.header-action__btn {
  --height: 50px;
  min-width: 118px;
  height: var(--height);
}
/*hero */
.hero {
  margin-top: 74px;
}
.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 120px;
}
.hero__media {
  display: flex;
  position: relative;
  padding-bottom: 94px;
}
.hero__img-wrap {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center; /*trường hợp ảnh bé*/
  width: 388px;
  height: 488px;
  border-radius: 16px;
  border: 3px solid #fff;
  background-color: #fe997b;
}
.hero__img {
  max-width: 100%;
  max-height: 100%;
  border-radius: inherit;
}
.hero__decor {
  position: absolute;
  z-index: -1;
}
.hero__decor-left {
  left: -58px;
  bottom: 10px;
}
.hero__decor-right {
  top: 16px;
  right: -40px;
}
.hero__img-wrap-small {
  align-self: flex-end;
  width: 186px;
  height: 244px;
  background-color: #faa7ad;
  border: 2px solid #fddee1;
  margin-left: -24px;
  margin-bottom: -58px;
}
.hero__list {
  position: absolute;
  left: 129px;
  bottom: 0;
  width: 256px;
  height: 160px;
  box-shadow: -17px 14px 68px -4px #cfae8440;
  border-radius: 10px;
  background-color: #fff;
  padding: 18px 14px;
}
.hero-list-item {
  display: flex;
  align-items: center;
}
.hero-list-item__thumb {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  object-fit: cover;
  background-color: #fec23f;
}
.hero-list-item__info {
  margin-left: 10px;
}
.hero-list-item__title {
  font-family: Sora, sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
  color: #181e52;
}
.hero-list-item__skeleton {
  margin-top: 6px;
  width: var(--width, 118px);
  height: 4px;
  border-radius: 10px;
  opacity: 8%;
  background-color: #000958;
}
.hero-list-item__separate {
  width: 100%;
  height: 2px;
  margin: 20px 0;
  border-radius: 99px;
  background-color: #f2f2f2;
}
.hero-list-item:nth-of-type(2) .hero-list-item__thumb {
  background: #c6e2fa;
}
.hero__heading {
  font-size: 6.6rem;
  font-weight: 800;
  line-height: 1.15;
  color: #000958;
}

.hero__desc {
  width: 391px;
  margin-top: 24px;
  font-size: 1.6rem;
  line-height: 1.88;
  color: #656689;
}
.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
.hero__cta-btn {
  --height: 60px;
  font-size: 1.6rem;
  box-shadow: 0px 13px 26px -8px #ff5b2e6b;
  min-width: 189px;
}
.hero__cta-link {
  margin-left: 24px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  color: #000958;
  text-decoration: underline;
}
/* about */
.about {
  margin-top: 130px;
}
.about__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.about__media {
  position: relative;
}
.about__lable {
  font-family: Sora, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  color: #5e6085;
}
.about__heading,
.about__desc {
  width: 444px;
}
.about__heading {
  margin-top: 15px;
}
.about__checklist {
  margin-top: 54px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: flex-start;
  gap: 36px;
}
.about__check-item {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1;
  color: #48496a;
}
.about__check-item::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #ff5d31;
  border: 2px solid #fff2e5;
  border-radius: 4px;
}
.about__check-item::after {
  position: absolute;
  top: 4px;
  left: 7px;
  content: url(../icons/check.svg);
}
.about__card {
  position: absolute;
  top: 165px;
  left: 0;
  padding: 30px 26px;
  width: 136px;
  border-radius: 10px;
  background-color: #5bd6e2;
  box-shadow: -15px 26px 48px 0px #55f0ff2b;
  text-align: center;
}
.about__card-title {
  font-family: Sora, sans-serif;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
}
.about__card-desc {
  margin-top: 14px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.43;
  color: #c6f4f9;
}
.about__card-decor {
  position: absolute;
  top: -39px;
  right: -32px;
}
.about__img-wrap {
  position: relative;
  width: 494px;
  margin-left: auto;
}
.about__img-wrap::after {
  position: absolute;
  inset: auto 0 0 0;
  height: 336px;
  z-index: -1;
  content: "";
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  border-radius: 16px;
}
.about__img {
  width: 450px;
  display: block;
  margin: 0 auto;
}
.about__media-decor {
  position: absolute;
  top: 157px;
  right: -50px;
  z-index: -1;
}
.about__img-wrap-botton {
  width: 458px;
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%),
    linear-gradient(0deg, #ffffff, #ffffff);
  border: 2px solid #ffffff;
  box-shadow: 0px 17px 77px -8px #bea58b2b;
  border-radius: 18px;
  margin-left: 0;
}
.about__img-wrap-botton::after {
  content: none;
}
.about__img-botton {
  width: 100%;
}
.about__decor-img {
  position: absolute;
}
.about__decor-img:nth-child(1) {
  top: 13px;
  right: 64px;
}
.about__decor-img:nth-child(2) {
  top: -16px;
  right: 13px;
}
.about__decor-img:nth-child(3) {
  top: 33px;
  right: -21px;
}
.about__decor-img:nth-child(4) {
  top: 284px;
  right: -33px;
}
.about__decor-img:nth-child(5) {
  bottom: 150px;
  right: 19px;
}
.about__decor-img:nth-child(6) {
  right: -24px;
  bottom: -40px;
}
.about__decor-img:nth-child(7) {
  right: -33px;
  bottom: -47px;
}
.about__decor-img:nth-child(8) {
  right: -42px;
  bottom: -55px;
}
.about__desc-botton {
  width: 511px;
  margin-bottom: 50px;
}
.tab__list {
  display: inline-flex;
  column-gap: 56px;
  position: relative;
}
.tab__content-more::after,
.tab__list::after,
.tab__item-active::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  border-radius: 1px;
  background-color: #ff5b2e;
  opacity: 0.07;
}
.tab__item {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 12px;
  cursor: pointer;
  padding-bottom: 14px;
}
.tab__icon {
  width: 20px;
  height: 20px;
}
.tab__title {
  font-family: Sora, sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  color: #48496a;
}
.tab__item-active::after {
  width: 95px;
  opacity: 1;
}
.tab__contents {
  padding-top: 36px;
}
.tab__content-item {
  display: none;
}
.tab__content-item-active {
  display: block;
}
.tab__content-desc {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.71;
  color: #656689;
  width: 391px;
}
.tab__content-more {
  position: relative;
  margin-top: 32px;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  color: #ff5d31;
}
.tab__content-more::after {
  opacity: 1;
  bottom: -6px;
  height: 1.5px;
}
/* service */
.service {
  margin-top: 190px;
  background-color: #fff6ed;
  padding: 68px 0 100px;
}
.service__top {
  text-align: center;
}
.staff__desc,
.service__desc {
  font-family: Sora, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  color: #5e6085;
  margin-bottom: 15px;
}
.service__body {
  margin-top: 70px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 70px;
}
.service-item {
  width: 294px;
  border-radius: 10px;
  border: 2px solid #ffbc7a42;
  background-color: #fff;
  padding: 30px 22px 30px 28px;
}
.service-item__heading {
  position: relative;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1;
  color: #000958;
  padding-left: 10px;
}
.service-item__heading::before {
  position: absolute;
  inset: 0 auto 0 0;
  content: "";
  display: inline-block;
  width: 2px;
  border-radius: 1px;
  background: linear-gradient(#ff5b2e, #ffa187);
}
.service-item__desc {
  margin-top: 18px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.71;
  color: #656689;
}
.service-item__more {
  display: inline-flex;
  align-items: center;
  font-family: Sora, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  color: #34396a;
  margin-top: 24px;
}
.service-item__more::after {
  content: url(../icons/ArrowUpRight.svg);
  margin-left: 6px;
  margin-top: 2px;
}
/* .service__column {
  display: grid;
  row-gap: 24px;
} */
.service-item + .service-item {
  margin-top: 24px;
}
.service__img {
  width: 100%;
  object-fit: cover;
  z-index: 1;
  position: relative;
  display: block;
}
.service__media {
  position: relative;
  margin-top: 18px;
}
.service__media::after {
  content: "";
  position: absolute;
  /* width: 410px; */
  height: 350px;
  border-radius: 10px;
  background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
  bottom: 0;
  left: 16px;
  right: 16px;
}
.service__cta-wrap {
  margin-top: 45px;
  display: flex;
  justify-content: center;
}
.service__cta {
  min-width: 214px;
  color: #ff5b2e;
  border-color: currentColor; /*ăn theo color*/
  border-radius: 31px;
  font-weight: 500;
  font-size: 1.6rem;
}
/* staff */
.staff {
  padding: 130px 0;
}
.staff__desc,
.staff__heading {
  text-align: center;
}
.staff__list {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 35px;
}
.staff-item {
  text-align: center;
}
.staff-item__img {
  position: relative;
  width: 100%;
  object-fit: cover;
  display: block;
  z-index: 1;
  border-radius: inherit;
}
.staff-item__img-wrap {
  position: relative;
  margin: 0 16px;
  border-radius: 130px;
}
.staff-item__img-wrap::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 266px;
  border-radius: inherit; /*kế thừa*/
  background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
  bottom: 0;
  left: 0;
}
.staff-item__img-wrap::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  /* căn giữa đỉnh vl */
}
.staff-item:nth-child(1) .staff-item__img-wrap::after {
  content: url(../img/staffdecor-01.svg);
}
.staff-item:nth-child(2) .staff-item__img-wrap::before {
  background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.staff-item:nth-child(2) .staff-item__img-wrap::after {
  content: url(../img/staffdecor-02.svg);
  top: 14px;
}
.staff-item:nth-child(3) .staff-item__img-wrap::before {
  background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.staff-item:nth-child(3) .staff-item__img-wrap::after {
  content: url(../img/staffdecor-03.svg);
}
.staff-item:nth-child(4) .staff-item__img-wrap::before {
  background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}
.staff-item:nth-child(4) .staff-item__img-wrap::after {
  top: 14px;
  content: url(../img/staffdecor-04.svg);
}
.staff-item__tile {
  margin-top: 34px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  color: #656689;
}
.staff-item__name {
  margin-top: 14px;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1;
  color: #000958;
}
.staff__cta-wrap {
  margin-top: 48px;
  display: flex;
  justify-content: center;
}
.staff__cta {
  min-width: 193px;
  color: #ff5b2e;
  border-color: currentColor; /*ăn theo color*/
  border-radius: 31px;
  font-weight: 500;
  font-size: 1.6rem;
}
/* pricing */
.pricing {
  background: #fff6ed;
  padding: 86px 0;
}
.pricing__heading,
.pricing__desc {
  text-align: center;
}
.pricing__desc {
  width: 709px;
  margin-left: auto;
  margin-right: auto;
}
.pricing__switch-wrap {
  margin-top: 38px;
  display: flex;
  justify-content: center;
}
.pricing__switch-label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 276px;
  height: 56px;
  border: 1px solid rgb(255 91 46 / 60%);
  border-radius: 99px;
  padding: 0 40px;
  user-select: none;
  cursor: pointer;
}
.pricing__switch-label::before {
  content: "";
  position: absolute;
  width: 140px;
  height: 100%;
  background: #ff5b2e;
  left: 0;
  top: 0;
  border-radius: inherit;
}
.pricing__switch-value {
  z-index: 1;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  color: #fff;
}
.pricing__switch-input:checked + .pricing__switch-label::before {
  left: auto;
  right: 0;
  width: 131px;
}
.pricing__switch-input:not(:checked)
  + .pricing__switch-label
  .pricing__switch-value:nth-of-type(2) {
  color: #ff5b2e;
}
.pricing__switch-input:checked
  + .pricing__switch-label
  .pricing__switch-value:nth-of-type(1) {
  color: #ff5b2e;
}
.pricing__switch-inenr {
  position: relative;
}
.pricing__sale-off {
  position: absolute;
  top: -10px;
  right: -110px;
}
.pricing__list {
  margin-top: 56px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 44px;
}
.pricing-item {
  padding: 30px 28px 43px;
  background-color: #fff;
  border-radius: 20px;
}
.pricing-item:nth-child(2) .pricing-item__btn {
  color: #fff;
  background: #ff5b2e;
}
.pricing-item__type {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  color: #ff5b2e;
}
.pricing-item__heading {
  margin-top: 8px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  color: #3f4065;
}
.pricing-item__price {
  margin-top: 24px;
  font-family: Sora, sans-serif;
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 103%;
  color: #000958;
}
.pricing-item__btn {
  margin-top: 22px;
  width: 100%;
  --height: 44px;
  border: 1px solid #ff5b2e99;
  background-color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  color: #ff5b2e;
}

.pricing-item__list {
  margin-top: 24px;
}
.pricing-item__item {
  display: flex;
  margin-top: 18px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  color: #656689;
}
.pricing-item__item::before {
  content: url(../icons/check2.svg);
  margin-right: 14px;
}
.pricing__container {
  max-width: 994px;
}
/* review */
.review {
  padding: 104px 0 52px;
}
.review__inner {
  display: flex;
  align-items: center;
  /* column-gap: 44px; */
}
.review__list {
  display: flex;
}
.review__content {
  overflow: hidden;
}
.review__control {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /*căng ra */
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 1.5px solid #ffd1c4;
  background: transparent;
  color: #ff5b2e;
}
.review__control:nth-of-type(1) {
  margin-right: 44px;
}
.review__control:nth-of-type(2) {
  margin-left: auto;
}
.review__control:hover {
  color: #fff;
  background: #ff5b2e;
  border-color: #ff5b2e;
  cursor: pointer;
}
.review-item {
  display: flex;
  align-items: center;
  column-gap: 115px;
  width: 100%;
  flex-shrink: 0;
}
.review-item__media {
  margin-top: -52px;
  position: relative;
  width: 274px;
  flex-shrink: 0;
  border-radius: 137px;
  overflow: hidden;
}
.review-item__media::after {
  content: "";
  position: absolute;
  /* dùng inset để định vị */
  inset: auto 0 0 0;
  background: #ffda54;
  height: 80%;
  border-radius: inherit;
}
.review-item__img {
  position: relative;
  display: block;
  width: 100%;
  border-radius: inherit;
  z-index: 1; /*có thuộc tính định vị mới dùng được*/
}
.review-item__quote {
  margin-top: 24px;
  width: 553px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.56;
}
.review-item__author {
  display: flex;
  align-items: center;
  margin-top: 34px;
  font-family: Sora, sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  color: #282828;
}
.review-item__author::before {
  display: inline-flex;
  content: "";
  width: 20px;
  height: 2px;
  background: #000;
  border-radius: 1px;
  margin-right: 10px;
}
.review__dots {
  margin-top: 56px;
  display: flex;
  justify-content: center;
  column-gap: 8px;
}
.review__dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #ff5b2e;
}
.review__dot:hover {
  background: #ff5b2e;
  cursor: pointer;
}
.review__dot-active {
  width: 24px;
  border-radius: 4px;
  background: #ff5b2e;
  cursor: none;
}
/* blog */
.blog {
  padding: 78px 0;
}
.blog__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog__info {
  width: 350px;
  margin-right: 73px;
}
.blog__desc {
  margin-top: 0;
  margin-bottom: 24px;
}
.blog__cta {
  min-width: 182px;
  border: 1px solid rgba(255, 91, 46, 0.6);
  color: rgba(255, 91, 46, 1);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
}
.blog__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 48px;
  margin-top: 54px;
}
.blog-item:nth-child(2) .blog-item__img-wrap {
  background: #ff997e;
}
.blog-item:nth-child(3) .blog-item__img-wrap {
  background: #5bd6e2;
}
.blog-item__img {
  margin-top: 25px;
  display: block;
  width: 100%;
  height: 296px;
  object-fit: cover;
}
.blog-item__img-wrap {
  padding: 24px 0 0 36px;
  background: #90ccff;
  border-radius: 24px;
}
.blog-item__time {
  font-family: Sora, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.21;
  color: #fff;
}
.blog-item__info {
  margin-top: 28px;
  padding-right: 10px;
}
.blog-item__title {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.55;
  color: #000958;
}
.blog-item__desc {
  margin-top: 16px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.71;
  color: #656689;
}
/* footer */
.footer {
  margin-top: 52px;
  background: linear-gradient(to right, #fff6ed 42%, transparent 42%);
}
.footer__inner {
  display: flex;
}
.footer__left {
  flex-shrink: 0;
  width: 42%;
  padding: 114px 0 148px;
}

.search-form {
  margin: 35px 0 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 268px;
  height: 46px;
  border: 1px solid #ff5b2e40;
  background: #fff;
  border-radius: 99px;
}
.search-form__input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 99px;
  padding: 0 22px;
  font-size: 1.4rem;
}
.search-form__input::placeholder {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.16;
  color: #656689;
}
.search-form__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 46px;
  height: 46px;
  margin-right: -1px;
  border-radius: 50%;
  background: #ff5b2e;
  box-shadow: 0px 15px 28px -7px #ff5b2e4d;
  border: none;
  outline: none;
}
.search-form__submit:hover {
  cursor: pointer;
  opacity: 0.8;
}
.footer__heading {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.11;
  color: #000958;
}
.social__list {
  margin-top: 16px;
  display: flex;
  column-gap: 16px;
}
.social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 16px 28px -10px #d3843554;
}
.social-item:hover {
  opacity: 0.8;
}
/* footer right */
.footer__right {
  padding: 52px 0 48px 22px;
}
.footer__row {
  margin-left: 107px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 58px 137px;
}
.footer__list {
  margin-top: 14px;
}

.footer__link {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2;
  color: #656689;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__copyright {
  margin-top: 52px;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #656689;
  opacity: 50%;
}
